branches:
  only:
    - master
    - 3.x.x

environment:
  nodejs_version: "10"

install:
  - ps: Install-Product node $env:nodejs_version
  - npm i -g @skyux-sdk/cli
  - skyux certs install --no-pause
  - npm install

test_script:
  - node --version
  - npm --version
  - npm test

# Don't actually build.
build: off
